<html>
    <head>
        <title>Finally...My first blog in Django :D</title>
    </head>
    <body style="background-color:#AEB6BF;">
        <div>
            <h1><a href="">Finally...My first blog in Django :D</a></h1>
        </div>

        <div>
            <p>Author -- <b>KUNDAN KUMAR</b></p>
            <h2><a href="">My first post</a></h2>
            <p>Yay!!! Finally I was successfully able to create my first blog based on Django framework and host it on the internet :D :D</p>
        </div>

        <div>
            <p>published: 13.08.2017, 05:50</p>
            <h2><a href="">My second post</a></h2>
            <p>Coming soon... ;)</p>
        </div>
    </body>
</html>
